form {
  display: flex;
  flex-direction: column;
}

form h3 {
  margin-bottom: 0.5rem;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

textarea {
  resize: none;
  border: none;
  height: 5rem;
  padding: var(--padding-S);
  margin-bottom: 1rem;
  background: var(--bg-primary);
  border-radius: var(--border-radius-S);
  box-shadow: inset 3px 3px 6px var(--shadow-dark),
    inset -3px -3px 6px var(--shadow-light);
  color: var(--text-color);
  font-size: 1rem;
  transition: all var(--transition);
}

textarea:focus {
  outline: none;
  filter: var(--glow-effect) brightness(1.2);
  box-shadow: inset 5px 5px 10px var(--shadow-dark),
    inset -5px -5px 10px var(--shadow-light);
}

.theme-label,
.author-label {
  margin-bottom: 0.5rem;
  font-weight: 700;
  font-size: 1.2rem;
}

input[type="submit"] {
  font-family: inherit;
  padding: var(--padding-S);
  border-radius: var(--border-radius-S);
  border: 5px solid var(--bg-primary);
  height: 3rem;
  font-size: 1.2rem;
  color: var(--text-color);
  background: var(--gradient-main);
  background-size: 300% 300%;
  animation: gradient-shift 6s ease infinite;
  box-shadow: 4px 4px 8px var(--shadow-dark), -4px -4px 8px var(--shadow-light),
    inset 2px 2px 4px var(--hard-shadow-dark),
    inset -2px -2px 4px var(--shadow-light);
  transition: all var(--transition);
}

@media (hover: hover) and (pointer: fine) {
  input[type="submit"]:hover {
    filter: brightness(1.2);
  }
}

input[type="submit"]:active {
  filter: brightness(1.2);
  box-shadow: inset 3px 3px 6px var(--hard-shadow-dark),
    inset -3px -3px 6px var(--shadow-light);
}

input[type="submit"]:disabled {
  background: var(--muted);
}

input[type="submit"]:disabled:hover {
  filter: none;
  background: var(--muted);
}

@media (max-width: 767px) {
  .theme-label {
    font-size: 1.1rem;
  }
}

@media (max-width: 375px) {
  .theme-label {
    font-size: 1rem;
  }
}
