@import url("https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;500;600;700&family=Oswald:wght@200..700&family=Prata&family=Russo+One&display=swap");

.quote-card-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.quote-card-container {
  width: 100%;
  border-radius: var(--border-radius-S);
  overflow: hidden;
  transition: all var(--transition);
}

/* Стилизация карточки цитаты */
.quote-card {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
}

.quote-card img {
  position: absolute;
  inset: 0;
  z-index: -1;
  filter: grayscale(50%) contrast(85%) brightness(80%);
  animation: fadeIn 0.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.quote-container {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
}

.quote-author {
  text-align: end;
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 1rem;
}

/* Стилизация кнопок */
.quote-card-buttons-wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
}

.switch-bg-buttons-wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
  height: 100%;
}

.quote-card-button {
  cursor: pointer;
  position: relative;
  display: inline-block;
  height: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: var(--bg-primary);
  box-shadow: 6px 6px 12px var(--shadow-dark),
    -6px -6px 12px var(--shadow-light);
  transition: all var(--transition);
}

.quote-card-button::after {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  width: 75%;
  height: 75%;
  mask-size: contain;
  -webkit-mask-size: contain;
  background: var(--muted);
  transform: translate(-50%, -50%);
  transition: all var(--transition);
  pointer-events: none;
}

/* Эффекты взаимодействия с кнопками */
.quote-card-button:active {
  box-shadow: 6px 6px 12px var(--shadow-dark),
    -6px -6px 12px var(--shadow-light), inset 6px 6px 12px var(--shadow-dark),
    inset -6px -6px 12px var(--shadow-light);
}

.quote-card-button:active::after {
  background: var(--gradient-accent);
}

@media (hover: hover) and (pointer: fine) {
  .quote-card-button:hover {
    box-shadow: 6px 6px 12px var(--shadow-dark),
      -6px -6px 12px var(--shadow-light), inset 3px 3px 6px var(--shadow-dark),
      inset -3px -3px 6px var(--shadow-light);
  }
}

@media (hover: hover) and (pointer: fine) {
  .quote-card-button:hover::after {
    background: var(--gradient-accent);
  }
}

/* Эффекты выдавливания */

.quote-card-container {
  transform: scale(1);
  border: 0.2rem solid var(--bg-primary);
  box-shadow: 3px 3px 6px var(--shadow-dark), -3px -3px 6px var(--shadow-light);
}

.quote-card-container.generating {
  transform: scale(0.99);
  border-color: transparent;
  box-shadow: none;
}

.quote-card-button {
  opacity: 1;
  transform: scale(1);
}

.quote-card-buttons-wrapper.generating .quote-card-button {
  box-shadow: none;
  opacity: 0;
  transform: scale(0.95);
}

/* Маски кнопок */
.switch-bg-left::after {
  mask: url("@assets/images/ui/chevron-left.svg") no-repeat center;
  -webkit-mask: url("@assets/images/ui/chevron-left.svg") no-repeat center;
  transform: translate(-55%, -50%);
  height: 85%;
  width: 85%;
}

.switch-bg-right::after {
  mask: url("@assets/images/ui/chevron-right.svg") no-repeat center;
  -webkit-mask: url("@assets/images/ui/chevron-right.svg") no-repeat center;
  transform: translate(-45%, -50%);
  height: 85%;
  width: 85%;
}

.download-button::after {
  mask: url("@assets/images/ui/download-icon.svg") no-repeat center;
  -webkit-mask: url("@assets/images/ui/download-icon.svg") no-repeat center;
}

/* Адаптивность */
@media (min-width: 768px) and (max-width: 1199px) {
}

@media (max-width: 767px) {
  .quote-card-buttons-wrapper {
    gap: 0.5rem;
    height: 3rem;
  }
}
